fastapi
uvicorn
yfinance
openai
streamlit
requests
pydantic
matplotlib
PyPDF2
scikit-learn
joblib
uvicorn
pydantic
python-dotenv
pandas
chromadb
sqlalchemy
langchain
langchain-openai
protobuf==3.20.3




